*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
.global_container{
    background-color:grey;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.board{
    padding : 3rem;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 3rem;
}
.board input{
    text-align: center;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
}
.board button{
    padding: 0.5rem;
    border-radius: 2rem;
     background-color: rgb(167, 247, 7);
}
.board button:active{
    background-color: green;

}
